.form {
  label {
    font-size: 14px;
    font-weight: bold;
  }
}

/* trello detail dialog */
.task-detail-dialog {
  .label {
    font-weight: 900;
  }

  .detail-info-area {
    padding: 12px;
    background-color: #eee;
    border-radius: 4px;
  }
}

.plus {
  position: relative;
  cursor: pointer;

  &::after {
    font-family: 'Noto Sans KR', serif;
    position: absolute;
    content: '\002B';
    font-size: 20px;
    top: 45%;
    left: 50%;
    color: lightgray;;
    @include vendorPrefix('transform', translate(-50%, -50%));
  }

  &.big {
    &::after {
      font-size: 60px;
      font-weight: 200;
    }
  }

  &:hover {
    border-color: $primary-deep;

    &::after {
      color: $primary-deep;
    }
  }
}

.close {
  position: relative;
  cursor: pointer;

  &::after {
    font-family: 'Noto Sans KR', serif;
    position: absolute;
    content: '\00D7';
    font-size: 20px;
    top: 50%;
    left: 50%;
    color: lightgray;;
    @include vendorPrefix('transform', translate(-50%, -50%));
  }

  &.big {
    &::after {
      font-size: 80px;
      font-weight: 200;
    }
  }

  &:hover {
    border-color: $primary-deep;

    &::after {
      color: $primary-deep;
    }
  }
}