.select {
  position: relative;
  padding: 12px 28px 12px 16px;
  height: 44px;
  font-size: 16px;
  color: #000000;
  border-color: $primary;
  border-radius: 4px;
  background-color: #fff;
  background-image: url("data:image/svg+xml;utf8,<svg fill='rgb(33,33,33)' height='30' viewBox='0 0 24 24' width='30' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 50%;
  @include vendorPrefix('transition', all 0.1s ease);

  &:focus, &:focus-visible {
    color: #000000;
    border-color: $primary-deep;
    outline: none;
  }

  &.error {
    border-color: $point-sub;
  }

  &:disabled {
    color: #b1b1ca;
    background-color: #f0f0f4;
    background-image: url("data:image/svg+xml;utf8,<svg fill='rgb(158,158,158)' height='30' viewBox='0 0 24 24' width='30' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 50%;
  }
}