/* font weight */
$font-thin: 300;
$font-normal: 500;
$font-bold: 800;

/* break point */
$screen-sm: 600px;
$screen-md: 800px;
$screen-lg: 1000px;

/* color */
$white: #ffffff;
$primary-deep: #363671;
$primary: #3e5196;
$point: #ee537c;
$point-sub: #eb927b;
